[submodule "csysteminfo"]
	path = csysteminfo
	url = https://github.com/worthless443/csysteminfo.git
	branch = dwmstatus
[submodule "glib_impl"]
	path = glib_impl
	url = https://github.com/worthless443/glib_impl.git
